locals {
  cloudwatch_slack_webhook = "https://hooks.slack.com/services/<redacted>"
  sentry_dsn_sbert         = "https://<redacted>@oingest.sentry.io/<redacted>"
  api_secret_key           = "<api secret key redacted>"
  dev_secret_jwt_key       = "<dev secret jwt key redacted>"
  qa_secret_jwt_key       = "<qa secret jwt key redacted>"
}
