locals {
  cloudwatch_slack_webhook = "https://hooks.slack.com/services/<redacted>"
  sentry_dsn_sbert         = "https://<redacted>@oingest.sentry.io/<redacted>"
  api_secret_key           = "<api secret key redacted>"
  prod_secret_jwt_key      = "<prod secret jwt key redacted>"
}
