# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/AWSHowTo.cloudwatchlogs.html#AWSHowTo.cloudwatchlogs.streaming
# based on https://github.com/awsdocs/elastic-beanstalk-samples/blob/master/configuration-files/aws-provided/instance-configuration/logs-streamtocloudwatch-linux.config

# no need to enable log streaming with option_settings, since terraform should do that

packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/config/logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      [/var/log/containers/sbert-service]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/sbert-service.log
      log_stream_name={instance_id}
      file=/var/log/containers/sbert-*-stdouterr.log

commands:
# service should be enabled with terraform
  "01":
    command: service awslogs restart
